<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Works</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </header>
    <section id="body-works">
        <section id="achievements">
            <h1>Achievements</h1>
            <img src="https://images.trustinnews.pt/uploads/sites/6/2021/10/211003_1_edited-6-1024x1080.jpg" alt="Fernando Mendes com um does seus múltiplos prémios" width="600px"/>
            <p>Fernando Mendes with one of his many trophies</p>
        </section>
        <section id="works">
            <div>
                <h2>Television</h2>
                <ul>
                    <li>1983 - O Foguete
                    <li>1986 - Palavras Cruzadas
                    <li>1987 - Lá em Casa Tudo Bem
                    <li>1988 - Passerelle
                    <li>1988 - Clubíssimo
                    <li>1988 - Toma Lá Revista
                    <li>1989 - Canto Alegre
                    <li>1989 - Crime à Portuguesa
                    <li>1989 - Duarte e Companhia
                    <li>1989 - Pisca Pisca
                    <li>1990 - Euronico
                    <li>1990 - Nem o Pai Morre Nem a Gente Almoça
                    <li>1990 - Grande Noite
                    <li>1992 - Aqui D’El Rei!
                    <li>1992 - Cinzas
                    <li>1993 - Verão Quente
                    <li>1993 - Nico D'Obra
                    <li>1994 - Cabaret
                    <li>1994 - Na Paz dos Anjos
                    <li>1994 - 1,2,3
                    <li>1996 - Os Imparáveis
                    <li>1996 - Docas
                    <li>1996 - Nós os Ricos
                    <li>1997 - As Lições do Tonecas
                    <li>1998 - Docas 2                                                <li>2000 - Milionários à Força
                    <li>2001 - Fábrica de Anedotas
                    <li>2001 - Sábado à Noite (participação especial)
                    <li>2002 - A Minha Sogra é uma Bruxa
                    <li>2002 - Bons Vizinhos
                    <li>2002 - O Preço Certo em Euros (apresentação)
                    <li>2003 - presente - O Preço Certo (apresentação)
                    <li>2006 - Em Família com Fernando Mendes (apresentação)
                    <li>2007 - No Tal Hospital
                    <li>2010 - Gala das Galas
                    <li>2011 - Gala de Final de Ano                                                                <li>2011 - Velhos Amigos
                    <li>2011 - Os Compadres (1ª temporada)
                    <li>2013 - Os Compadres (2ª temporada)                                                <li>2019 - Desliga a Televisão</li>
                </ul>
            </div>
            <div>
                <h2>Theater</h2>
                <ul>
                    <li>2004 - "In Love"</li>
                    <li>2004 - "Kiss Kiss"</li>
                    <li>2006 - "O Peso Certo"</li>
                    <li>2010 - "Mendes.Come"</li>
                    <li>2013 - "Caixa Forte"</li>
                    <li>2015 - "Noivo por Acaso"</li>
                    <li>2018 - "Insónia"</li>
                </ul>
            </div>
        </section>
    </section>
</body>
</html>